
out/
*/.idea/
.idea/
.idea
.idea/
*.jar
*.war
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/litartcc.iml
*.iml
*/target/
*.class


#过滤文件
*.xml
flag.iml


#过滤文件夹
out/
*/.idea/
.idea/
.idea


#忽略全部，除了以下内容
!.gitignore
!src/
!README.md
.idea/misc.xml
.idea/workspace.xml
*.class